body {
    background-color: #4f7d82;
}

h1 {
    color: white;
    text-align: left;
    font-family: "Andada",  serif;
    font-size: 48px;
}

.text {
    color: white;
    text-align: left;
    font-family: "Andada", serif;
    font-size: 23px;
    color: white;
}

.button {
    background-color: #4f7d82;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 2px;
    transition: 0.2s;
}

    .button :hover {
        background: rgba(255,255,255,.2);
    }


    .button:active {
        background: rgba(79, 125, 130, .2);
